@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --bg-black-900: #ffffff;
  --bg-black-100: #fcfafa;
  --bg-black-80: #f0eeee;
  --bg-black-50: #e7e7e7;

  --text-black-900: #272727;
  --text-black-800: #848484;
  --text-black-700: #d8d8d8;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.main-container {
  padding-left: 0;
  position: relative;
}

section {
  background: var(--bg-black-100);
  width: 100vw;
  min-height: 100vh;
}
